*, ::after, ::before {
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
}

.message {
    /* display: flex; */
    /* flex-direction: column; */
    border: 2px solid red;
    width: 50%;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    background-color: black;
}

