@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Linefont:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.message {
    font-size: 1.75rem;
}
