*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.message {
    background-color: black;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avatar {
    /* margin-bottom: 150px; */
    position: absolute;
    margin-bottom: 25%;
    margin-left: 22%;
    border-radius: 50%;
    height: 160px;
    /* border: 2px solid red; */
    z-index: 2;
}

.inner {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.inner-message {
    color: white;
    /* border: 2px solid red; */
    text-wrap: wrap;
}

.language-javascript {

    /* border: 2px solid red; */
}
