@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    background-color: #5e5c64;
}

.message {
    font-size: 6rem;
    font-family: 'Agbalumo';
    padding: 48px;
    /* border: 2px solid red; */
    margin-top: -150px;
    color: white;
}

.button_container {
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    color: #ff9500;
    font-family: 'Agbalumo';
    font-size: 10rem;
    text-decoration: none;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 16px;
    border-radius: 50px;
    background: linear-gradient(145deg, #55535a, #65626b);
    box-shadow:  23px 23px 46px #49484e,
                 -23px -23px 46px #73707a;
}

.button:active {
    animation: button-click;
    animation-duration: .2s;
}


@keyframes button-click {
    0% {
        border-radius: 50px;
    }
    50% {
        box-shadow:  14px 14px 28px #c25b00,
                     -14px -14px 28px #ff9500;
    }
    100% {
        box-shadow:  5px 5px 10px #c25b00,
                     -5px -5px 10px #ff9500;
    }
}
