@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.message-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.daily-message {
    text-align: center;
    font-size: 2rem;
    color: gray;
    font-family: 'Agbalumo';
}
